@charset "EUC-KR";

    
.a{
	text-decoration: none;
    color: black; 
}   

.navbar{
	padding: 20px 0 0;
    background-color: black;	
}
.one{
        padding: 0 90px;
        height: 50px;
        display: block;
        line-height: 30px;
        vertical-align: middle;
}

.one li{
    display: inline-block;
} 

.white_font{
   color:white;
}
    
.logo{
	font-size: 32px;
    color: white;
    margin-right: 40px;
    font-weight: 600;
}

    

.border {
	width:100%;
	margin-top:10%;
	margin-left:15%;
	margin-right:15%;
	text-align: center;
}
                                   

.table {
	width:70%;
	text-align:center;
	border-color: #767676;
	border-top: 1px solid #767676; 
	border-bottom: 0px solid #767676;
	}

.table th{
	background-color: #eeeeee; 
}

.table td {
	border-bottom: 1px solid #dddddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #dddddd;
}