
*{
	margin:0;
	padding:0;
	list-style: none;
	text-decoration: none;
}


.side{
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	background: #042331;
}

.side_logo{
	font-size: 22px;
	color: white;
	text-align: center;
	line-height: 70px;
	background: #063146;
	user-select:none;
}

.side_state ul a{
	position:relative;
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size:20px;
	color:white;
	padding-left: 40px;
	box-sizing:border-box;
	border-top: 1px solid rgba(255,255,255,.1);
	border-bottom: 1px solid black;
	transition:.4s;
}

ul li:hover a{
	padding-left:50px;
}

.main{
	margin-left:250px;
	height:1hv;
	padding:20px;
}


.main_item{
	border: 1px solid #042331;
	padding:30px;
  	background: white; 
  	margin-top: 10px; 
	border-radius: 20px 20px 20px 20px;

}